@import '../../index.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    color: white;
    padding: 0.5rem 7% 0.5rem;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;

    .pageTitle {
        color: white;
        font-weight: 400;
    }

    ul {
        .navLink {
            color: white;
            margin-right: 2rem;
            font-size: 1rem;
        }

        .btn {
            background-color: $secondary-color;
            padding: .8rem 1.5rem;
            border-radius: .3rem;
            color: black;
            font-size: 1.1rem;
        }
    }
}

